<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Paginated list of public repository using Github API</h1>
    <p>This application contain a form where you can enter a Github username or organization.
    Once the form is submitted, it returns the paginated list of public repository for this specific user or organization.
    The results are paginated and sorted by all the options available on the API.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">
      <span class="glyphicon glyphicon-flash"></span>
      Demo
     </a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/elpotsi/paginated-repository-api-github">
      <span class="glyphicon glyphicon-download"></span>
      Source on GitHub
    </a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
  This application was based on <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"
    class="alert-link">Getting Started with Node on Heroku
  </a> tutorial.
  </div>
  <hr>

   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>


</body>
</html>
